@use '@xterm/xterm/css/xterm.css';

@use '../../utils/styleUtils' as utils;

@include utils.font-face-webfont('JetBrains Mono', '../../assets/fonts/JetBrainsMono-Regular');

.terminal-container {
  width: 948px;
  height: 624px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0;
  margin: 0;

  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid rgba(from var(--main-color) r g b / 0.3);
  border-radius: 4px;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .font-loader {
    position: absolute;
    opacity: 0;

    font-family: 'JetBrains Mono', monospace;
  }
  .xterm-rows,
  .xterm-width-cache-measure-container {
    font-variant-ligatures: none;
  }
}

::-webkit-scrollbar {
  display: none;
}
