@use '@xterm/xterm/css/xterm.css';

@use '../../utils/styleUtils' as utils;

@include utils.font-face-webfont('JetBrains Mono', '../../assets/fonts/JetBrainsMono-Regular');

.terminal-container {
  display: flex;
  width: 1022px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 16px 8px 16px 0;
  flex: 1;
  height: 656px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #828282;
  border-radius: 4px;

  .font-loader {
    position: absolute;
    opacity: 0;

    font-family: 'JetBrains Mono', monospace;
  }
  .xterm-rows,
  .xterm-width-cache-measure-container {
    font-variant-ligatures: none;
  }
}

::-webkit-scrollbar {
  display: none;
}
